<ion-content [fullscreen]="true">
    <ion-card>
        //jjjh
        <ion-card-header class="ion-align-items-center">
            <ion-row class="ion-align-items-center">
                <ion-icon name="medkit-outline" color="light"></ion-icon>
                <ion-card-title color="light"> Problems </ion-card-title>
            </ion-row>
        </ion-card-header>
        <ion-list lines="none">
            <ion-item *ngFor="let problem of problemList ">
                <ion-label>
                    <ion-text>{{problem ? problem.conditionsdescription:''}}</ion-text> <br>
                </ion-label>
            </ion-item>

        </ion-list>
    </ion-card>
</ion-content>